// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';
@import 'reset';

$c-background: #dadada;
$c-card: #a7d076;
$c-white: #fff;
$c-border: rgba(70, 70, 70, 0.2);

.section {
  padding: 1rem;
  background: $c-background;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -1rem;

  &__item {
    flex-basis: calc(100% / 3 - 1rem - 1rem);
    flex-grow: 1;
    max-width: 30rem;
    margin: 1rem;
  }
}

.card {
  padding: 1rem;

  &-top {
    padding: 1rem 1rem 5rem;
    background: $c-card;

    &__arrow {
      display: flex;
      font-size: 1.5rem;
    }

    &__img {
      display: flex;
      justify-content: center;
    }

    img {
      display: flex;
      justify-content: center;
      height: 10rem;
      border-radius: 50%;
    }
  }

  &-bottom {
    margin: 0;
    background: $c-white;

    li {
      padding: 1rem;
    }

    > * + * {
      border-top: 0.1rem solid $c-border;
    }
  }
}

.fa {
  margin-right: 1rem;
}
